*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #221f1f;
}
.content-contain{
    display: flex;
}

.side-bar{
    position: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: wheat;
    width: 7%;
    height: 90vh;

}
.side-bar a{
    position: relative;
    z-index: 1;
    color: black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-bottom: 8px ;

}
.side-bar span{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bottomline ::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 19px;
    border: 1px solid red;
    border-radius: 2px;
    background-color: red;
    bottom: 0px; 
    left: -1px;
    
}
.und3{
    position: absolute;
    left: 2px;
}
.und6{
    left: 0px;
}
i:hover .underline{
    visibility: visible;
}

.main-content{
    background-image: url("/GIT_PROJECT/NETFLIX/image/backgroung-image-netfilx.jpg");
    height: 60vh;
    width: 100%;
}